<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.zhangxin.movie.dao.MovieMapper">
  	<select id="selects" resultType="movie">
  		select * from t_movie
  		<where>
  			<if test="name!=null and name !=''">
  				name like concat('%',#{name},'%')
  			</if>
  			 <if test="actor !=null and actor!=''">
  			 and actor like concat('%',#{actor},'%')
  			</if>
  			<if test="years !=null">
  				and years=#{years}
  			</if>
  			<if test="t1 !=null and t1 !=''">
  			 and uptime &gt;=#{u1}
  			</if>
  			<if test="t2 !=null and t2 !=''">
  			 and uptime &lt;=#{u1}
  			</if>
  			<if test="p1 !=null ">
  			 and price &gt;=#{p1}
  			</if>
  			<if test="p2 !=null ">
  			 and price &lt;=#{p2}
  			</if>
  			<if test="l1 !=null ">
  			 and longtime &gt;=#{l1}
  			</if>
  			<if test="l2 !=null ">
  			 and longtime &lt;=#{l2}
  			</if> 
  		</where>
  		<!-- 排序 如果排序名称不为空则进行排序 -->
		<if test="orderName!=null and orderName!=''">
		  order by  ${orderName} ${orderMethod}
		</if>
  	</select>
  </mapper>